<h1>Editing inventory</h1>

<%= render "form", inventory: @inventory_item %>

<br>

<div>
  <%= link_to "Show this inventory item", @inventory_item %> |
  <%= link_to "Back to inventories", inventory_item_index_path %>
</div>
